<appSettings>
  <!-- Update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="BotId" value="bothandofflaurelle " />
  <add key="MicrosoftAppId" value="d209640f-b790-4aa3-8657-98fd51eff1f3" /> <!--d209640f-b790-4aa3-8657-98fd51eff1f3-->
  <add key="MicrosoftAppPassword" value="qbqeTJRZO0_oruKG1089)#}" /> <!--qbqeTJRZO0_oruKG1089)#}-->

  <!-- Add your connection string for routing data storage below -->
  
  <add key="RoutingDataStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tevappstorage;AccountKey=NMr/WodMMGKGijaOBFV4xqVMKL8UlZbUDWB608W5XazIuYX4UMf4FHf3r2rZtNL7PdBEIWmoRsOLt8JiRW9YHw==;EndpointSuffix=core.windows.net" />
  
  <!--
  <add key="RoutingDataStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=storagebothandoff;AccountKey=BdRcJLPJoGp6zAraZ8RH2wxFXibtP3MmvOKO2Nn/ipD4s4vsF0NrUnnvwsfCLxmrjqvgP8S8anhimMSTCiEo3g==;EndpointSuffix=core.windows.net" />    
  -->
  <!-- For the Q&A Maker keys-->
  <add key="QnaMaker.KbId" value="c2465ffb-cb76-4c59-81e4-ff2cf78b0d4b" />
  <add key="QnaMaker.KbKey" value="ee2d36aa041d4ce6a251953826411c50" />
</appSettings>